*.o
*.lo
*.la
.deps
.libs
depcomp
Makefile
Makefile.in
guardian/.deps
guardian/guardian
aclocal.m4
autom4te.cache
INSTALL
stamp-h1
libtool
compile
config.log
config.status
config.guess
config.h
config.h.in
*~
config.sub
configure
install-sh
ltmain.sh
m4/
missing
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
po/guardian.pot
tests/plugins/plugin-loader
