*.o
*.lo
*.la
.deps
.libs
depcomp
Makefile
Makefile.in
guardian/.deps
guardian/guardian
aclocal.m4
autom4te.cache
INSTALL
stamp-h1
libtool
compile
config.log
config.status
config.guess
config.h
config.h.in
*~
config.sub
configure
install-sh
ltmain.sh
missing
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
po/guardian.pot
tests/libguardian/libguardian-helper
tests/libguardian/*.log
tests/plugins/plugin-loader
tests/plugins/*.log
m4/libtool.m4
m4/ltversion.m4
m4/ltsugar.m4
m4/ltoptions.m4
m4/lt~obsolete.m4
m4/intltool.m4
